.apps-list {

  &__item {
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    display: block;
  }

  &__item--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &__item--android {
    background-image: url("../img/logo-android.svg");
  }

  &__item--microsoft {
    background-image: url("../img/logo-microsoft.svg");
  }
}
