.main-nav {

  background-color: #293646;
  color: #ffffff;

  &__logo-link {
    margin-top: 20px;
    margin-bottom: 23px;
    margin-left: 20px;
  }

  &__toggle {
    background-color: #ffffff;
    border: none;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    outline: 2px solid green;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0px;

    &__logo-link {
      position: relative;
      margin-top: 43px;
      margin-bottom: 42px;
      margin-left: 85px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    background-color: rgba(15, 17, 24, 0.5);

    &__wrapper {
      width: 940px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      outline: 5px solid red;
      font-weight: normal;
    }

    &__toggle {
      display: none;
    }
  }
}
