.offers {
  background-color: #f2f2f2;

  &__wrapper {
    width: 270px;
    margin: 0 auto;
    text-align: center;
    outline: 2px solid red;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title,
  &__text {
    margin: 0;
    padding: 0;
  }

  &__picture--one,
  &__picture--two {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      width: 620px;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
    }

    &__title,
    &__text {
      text-align: left;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      width: 940px;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &_item {
      width: 250px;
      margin-top: -70px;
      z-index: 100;
      background-color: #f2f2f2;
    }

    &__picture-block {
      width: 820px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    &__picture--one,
    &__picture--two {
      display: block;
    }
  }
}
