.page-footer {

    &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

    &__social {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      width: 620px;
      margin: 0 auto;
    }

    &__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      outline: 2px solid red;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      width: 940px;
      margin: 0 auto;
    }

    &__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 200px; /*Временно*/
    }
  }
}
