.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__hand-image {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  display: block;
  margin: auto;
}

@media (min-width: @desktop-width) {
  .page-main__hand-image {
    margin: 0;
  }
}
